* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --padding: 10px;
  --image-width: 200px;
  --image-ratio-height: auto;
  --image-border: 1px solid gray;
  --layout-text-align: center;
}
nav {
  background-color: darkblue;
  padding: var(--padding);
}
nav a {
  color: #ffffff;
  padding: 20px;
  display: block;
}
h1 {
  color: darkblue;
}
main img {
  float: right;
  width: var(--image-width);
  border: var(--image-border);
  height: var(--image-ratio-height);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;

}
main {
  max-width: 800px;
}
aside {
  background-color: #c9c428;
  color: #080808;
  padding: var(--padding);
  border: var(--image-border);
  margin: 20px;
  width: 600px;
  text-align: var(--layout-text-align);
  position: relative;
}
aside h2 {
  position: absolute;
  left: 250px;
  top: 30px;
  font-size: smaller;
}
img {
  width: 200px;
  height: auto;
  
}
footer {
  text-align: var(--layout-text-align);
  border-top: 1px solid gray;
  margin-top: 30px;
}
/* Class Selectors*/
.box {
  margin: 1rem;
  padding: 1.5rem;
  border: var(--image-border);
  background-color: #dbd9a5;
  color: #242424;
  width: 500px;
}
