.callout {
  background-color: rgb(0, 0, 97);
  color: #ffffff;
  max-width: 500px;
  border: 1px solid grey;
  padding: 15px 20px;
  margin: 20px;
  font-size: 20px;


	
}

.callout img {
  float: right;
  width: 130px;
  height: auto;
  border: 1px solid black;
  padding: 3px;
  margin: 10px;
  background-color: #ffffff;
	
}

blockquote {
  margin: 0;


}

cite {
  text-align: right;
  display: block;
  border-top: #ffffff;
  border-top-style: dotted;
  padding-top: 10px;
  font-size: 25px;
}